extends ../components/layouts/base-layout

block content
    .container
        .col-2
            .title.col-8 Календарь мероприятий
        .event-container
            .col-6
                .calendar-input
            .event-container-input#del

