mixin footer

    footer.footer.container
        .footer__contact
            a.footer__contact-logo(href="#")
                img(src='./src/icons/miniLogo.svg')
            .footer__contact-info
                span
                    a(href="tel:83842778870") +7 (3842) 77-88-70
                br
                | Кемерово, Сосновый бульвар 1, офис 312
        .footer__socials
            a(href='').footer__socials-icon
                img(src='./src/icons/iconVk.svg')
            a(href='').footer__socials-icon
                img(src='./src/icons/iconOk.svg')
            a(href='').footer__socials-icon
                img(src='./src/icons/iconInst.svg')
            a(href='').footer__socials-icon
                img(src='./src/icons/iconFb.svg')
            a(href='').footer__socials-icon
                img(src='./src/icons/iconTwit.svg')
