.page {

  @include below('small') {
    padding: 0 20px;
  }

  @include at('small') {
    padding: 0 60px;
  }
}

.container {

  margin: auto;
  max-width: 1360px;
  position: relative;
}

.col-2 {
  display: grid;
}

.col-6 {
  grid-column: 6/8;
  grid-row: 1;

  @include below('small') {
    grid-column: 1/1;
  }
}

.col-8 {
  grid-column: 3/9;

}

.col-9 {

}

.col-10 {

}
