// Colors
$color-brand: #ED5338;
$color-text-main: #333;
$color-text-alt: rgba(51, 51, 51, 0.5);
$color-text-white: white;

// Margins and gap's
$column-gap-default: 32px;
$column-gap-mobile: 16px;
$row-gap-mobile: 16px;
$row-gap-default: 24px
